<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mock.mapper.MockProjectMapper">
	<!-- <cache size="128" eviction="LRU" readOnly="true" flushInterval="120000" /> -->

	<insert id="insert" parameterType="com.mock.model.MockProject">
		insert into mockproject
		(id,mockProjectName)
		values
		(#{id},#{mockProjectName})
	</insert>

	<update id="update" parameterType="com.mock.model.MockProject">
		update mockproject
		set
		mockProjectName=#{mockProjectName}
		where
		id=#{id}
        <if test="updateTime != null and updateTime != ''">
            and updateTime = #{updateTime}
        </if>
	</update>

	<delete id="delete" parameterType="com.mock.model.MockProject">
		delete from mockproject where id = #{id} 
	</delete>



	<select id="select" parameterType="com.mock.model.MockProject" resultType ="com.mock.model.MockProject">
		select * from mockproject
		<where>
			1=1 			
			<if test="id != null and id != ''">
				and id = #{id}
			</if>			
			order by idex desc
		</where>
	</select>

</mapper>